<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply- The Interior Harvest</title>
    <link rel="icon" type="image/png" href="favicon/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/form_submitted.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2adfcbaf1.js" crossorigin="anonymous"></script>
</head>

<body class="container">
    <nav class="navbar " id="navbar">
        <div class="navbar-flex container-width">
            <div class="logo-container">
                <img class="logo" id="logo" src="images/mainLogo.png" alt="logo" width="100%" height="100%">
            </div>
            <div class="hamburgerCont" id="hamburgerC" onclick="viewNAV()">
                <div class="hamburger"></div>
                <div class="hamburger"></div>
                <div class="hamburger"></div>
            </div>
            <div id="overlay-nav" class="overlay">
                <p class="close" id="close" onclick="closeNAV()">&times;</p>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="our_team.html">Our Team</a></li>
                    <li><a href="vacancy.html">Vacancy</a></li>
                    <li class="contact">
                        <a href="contact_us.html">Contact Us</a></li>
                    <a id="tollResp" href="tel:100200300"> Toll-free 100200300</a>
                </ul>
            </div>
            <ul class="navlist">
                <li><a href="index.html">Home</a></li>
                <i class="fas fa-circle"></i>

                <li><a href="about_us.html">About Us</a></li>
                <i class="fas fa-circle"></i>
                <li><a href="services.html">Services</a></li>
                <i class="fas fa-circle"></i>
                <li>
                    <div class="dropdown">
                        <a href="projects.html" class="dropbtn">Projects</a>
                        <div class="dropdown-content">
                            <a href="projects.html#living_room">Living rooms</a>
                            <a href="projects.html#dining_room">Dining rooms</a>
                            <a href="projects.html#nursery">Nurseries</a>
                            <a href="projects.html#office">Offices</a>
                        </div>
                    </div>
                </li>
                <i class="fas fa-circle"></i>
                <li><a href="our_team.html">Our Team</a></li>
                <i class="fas fa-circle"></i>
                <li><a href="vacancy.html">Vacancy</a></li>
                <i class="fas fa-circle"></i>
                <li class="contact"><a class="toll" id="toll" href="tel:100200300"> Toll-free 100200300</a><a
                        href="contact_us.html">Contact Us</a></li>
            </ul>
        </div>
        <hr id="hr">
    </nav>
    <section class="response">
        <h1>Hey <%= name %>, thank you for applying! </h1>
        <h2> We will respond to you shortly. </h2>
    </section>
    <footer>
        <div class="footer container-width">
            <div class="policies">
                <a href="privacy.html">Privacy policy </a>|
                <a href="terms.html"> Terms of use </a>
            </div>
            <div>
                <small>&copy;2020 The Interior Harvest | All Rights Reserved
                </small>
            </div>

            <div class="social-media">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-blogger-b"></i>
                <i class="fab fa-youtube"></i>
                <br>
            </div>
        </div>
    </footer>
    <script src="javascript/javscript.js"></script>
    <script src="javascript/applyformvalidation.js"></script>
</body>

</html>